<launch>
   <include file="$(find webcam)/launch/c920_libuvc_nodelet.launch" />

<remap from = "image" to = "image_raw" />
<node pkg="nodelet" type="nodelet" name="imageview" args="load image_view/image camera_process"  output="screen">
    <param name="autosize" value="true" />
</node>


</launch>

